<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.138.0/build/three.module.js"
        }
    }
    </script>
    <script type="module" src="/javascripts/sketch.js"></script>
  </head>
  <body>
  </body>
</html>